<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Hype!</title>
    <style>
      body {
        background: transparent;
      }
      .circle {
        width: 500px;
        height: 500px;
        border-radius: 500px;
        background: black;
      }
    </style>
  </head>
  <body>
    <div class="circle" id="root"></div>
  </body>
</html>
